@import '../../stylesheets/mixins';
@import '../../stylesheets/colors';

.Logout {
  padding: 20px;
  text-align: center;
  border-radius: 3px;
}

@include breakpoint(tablet) {
  .Logout {
    padding: 30px;
  }
}

@include breakpoint(desktop) {
  .Logout {
    padding: 40px;
  }
}
