@import '../../stylesheets/mixins';
@import '../../stylesheets/colors';

.Index {
  padding: 20px;
  text-align: center;
}

@include breakpoint(tablet) {
  .Index {
    padding: 20px;
  }
}

@include breakpoint(desktop) {
  .Index {
    padding: 20px;
  }
}
