@import '../../stylesheets/mixins';
@import '../../stylesheets/colors';

.Index {
  padding: 20px;
  p {
    margin: 20px 0px;
  }
}

@include breakpoint(tablet) {
  .Index {
    padding: 20px;
  }
}

@include breakpoint(desktop) {
  .Index {
    padding: 20px;
  }
}
