@import '../../stylesheets/mixins';
@import '../../stylesheets/colors';

.tableTop {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: #fff;
  z-index: 999999;


  .fadedColor {
    background: #7f8c8d;
    opacity: 0.3;
  }

  .endgame {
    position: absolute;
    right: 2px;
  }

  .progressBottom {
    position: absolute;
    bottom: 0px;
    border-top: 1px solid #eee;
    left: 0px;
    right: 50px;
    height: 10px;
  }

  .progressTop {
    position: absolute;
    top: 0px;
    border-bottom: 1px solid #eee;
    left: 0px;
    right: 50px;
    height: 10px;
  }

  .progressContainer {
    height: 10px;
    width: 100%;
    display: block;
    .progressBar {
      background-color: #2ecc71;
      height: 10px;
    } 
  }


  .form-control {
    width: 80%;
    float: left;
  }

  .submitbutton {
    float: right;
    width: 18%;
    height: 30px;
  }

  .chatForm {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
  }

  .actionView {
    position: absolute;
    top: 40%;
    bottom: 40%;
    right: 0px;
    text-align: center;
    width: 85%;
    left: 0px;
  }

  .chat {
    position: absolute;
    height: 100%;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 300px;
    border-left: 2px solid #eee;
    background-color: #fff;

    .messages {
      text-align: left;
      padding: 10px;
      position: absolute;
      bottom: 30px;
      top: 20px;
      overflow: scroll;
    }
  }

  .elements {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 250px;

    .resultsTop {
      position: absolute;
      left: 20px;
      top: 20px;
    }
    
    .resultsBottom {
      position: absolute;
      bottom: 20px;
      left: 20px;
    }

    .bottomCards {
      width: 100%;
      position: absolute;
      bottom: 10px;
      padding-bottom: 20px;
    }

    .topCards {
      width: 100%;
      position: absolute;
      padding-top: 20px;
      top: 10px;
    }
  }
}

.secondary {
  position: absolute;
  left: 0px;
  z-index: -1;
}

.first-row {
  height: 110px;
}

.play-card {
  border: 1px solid #eee;
  margin: 3px;
}

.cover-card {
  position: relative;
  right: 50px;
  z-index: -2;
}

.btn {
  padding: 0px;
  margin: 2px;
}

.top {
  height: 260px;
}

.view {
  height: 110px;
}

.bottom {
  height: 200px;
}

.button {
  padding: 5px 15px;
  background-color: #2ecc71;
  color: #fff;
  border-radius: 3px;
  border: none;
}

.button:hover {
  background-color: #2ecc71;
  color: #fff;
  opacity: 0.8;
}

.suitButton {
  padding: 3px;
}


@include breakpoint(tablet) {
  .Index {
    padding: 30px;

    footer {
      margin: 30px -30px -30px;
    }
  }
}

@include breakpoint(desktop) {
  .Index {
    padding: 40px;

    footer {
      margin: 40px -40px -40px;
    }
  }
}
