@import '../../stylesheets/mixins';
@import '../../stylesheets/colors';

.play-card {
  border: 1px solid #eee;
  margin: 2px;
}

.btn {
  padding: 0px;
  margin: 2px;
}

.top {
  height: 210px;
}

.view {
  height: 110px;
}

.bottom {
  height: 200px;
}

.button {
  padding: 5px 15px;
  background-color: #2ecc71;
  color: #fff;
  border-radius: 3px;
  border: none;
}

.button:hover {
  background-color: #2ecc71;
  color: #fff;
  opacity: 0.8;
}

@include breakpoint(tablet) {
  .Index {
    padding: 30px;

    footer {
      margin: 30px -30px -30px;
    }
  }
}

@include breakpoint(desktop) {
  .Index {
    padding: 40px;

    footer {
      margin: 40px -40px -40px;
    }
  }
}
